html,
body {
   height: 100%;
}
body {
   margin: 0;
}
.wrapper {
   height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.web {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100%;
}
